:root {
    --color-grey: #BCBCBC;
    --color-sky: #70ADD1;
}

*:focus {
    outline: none;
}

section svg {
    width: 60%;
}

#LaEstanciaArgentina:hover,
#ElPrimo:hover,
#Temakase:hover,
#Holyshakes:hover,
#TeaLeaf:hover,
#Mitchs:hover,
#TheWagyu:hover,
#MiamiSwimmingAcademy:hover,
#Crema:hover,
#DrunkenDragon:hover,
#Attar:hover,
#Murano:hover,
#Holi:hover,
#Disponible:hover,
#GelatoGo:hover,
#Anderson:hover,
#LaPiazzeta:hover,
#Doggis:hover,
#TheBluesBurgers:hover,
#JuiceMafia:hover,
#DrLimon:hover,
#RepublicaCigarLounge:hover,
#Sokai:hover {
    transition: 0.5s ease;
    fill: var(--color-sky);
    cursor: pointer;
}


.logos {
    width: 60px;
    height: 60px;
    opacity: 0;
    transition: 0.2s ease;
}


svg image {
    width: 40px;
    height: 40px;
}

.toastify {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    background-color: var(--color-sky);
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 10px;
    gap: 5px 0;
}

.toastify button {
    width: 100%;
    text-align: end;
}

.toastify-avatar {
    width: 100px;
    height: 100px;
}